@font-face {
    src: url('../fonts/Cordale-Regular_gdi.ttf'),
         url('../fonts/Cordale-Regular.woff'),
         url('../fonts/Cordale-Regular.woff2');
    font-family: 'cordale_regular';
}

@font-face {
    src: url('../fonts/JohnSansTextPro_gdi.ttf'),
         url('../fonts/JohnSansTextPro-Regular.woff'),
         url('../fonts/JohnSansTextPro-Regular.woff2');
    font-family: 'john_sans';
}

@font-face {
    src: url('../fonts/JohnSansTextPro-Bold_gdi.ttf'),
         url('../fonts/JohnSansTextPro-Bold.woff'),
         url('../fonts/JohnSansTextPro-Bold.woff2');
    font-family: 'john_sans_bold';
}